on:
  workflow_call:
    inputs:
      python-version:
        type: string
        description: The version of python to install, default is from .python-version file
        default: ""
      runs-on:
        type: string
        description: The runner to run this job on
        required: true

env:
  # https://github.com/pytest-dev/pytest/issues/2042
  PY_IGNORE_IMPORTMISMATCH: "1"
  UV_PYTHON: ${{ inputs.python-version }}

jobs:
  run:
    runs-on: ${{ inputs.runs-on }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
          
      - if: inputs.python-version == 'dev'
        name: Install dev versions of python packages
        run: uv sync --python "$(sed -Ene "s/ARG PYTHON_VERSION=([0-9\.]+).*/\1/p" Dockerfile)" --group dev

      - if: inputs.python-version != 'dev'
        name: Install latest versions of python packages
        run: uv sync --python ${{ inputs.python-version }} --group dev
      
      - name: Run tests
        run: uv run --locked tox -e unit-report

      - name: Check unit test durations
        run: |
          python .github/scripts/check_test_durations.py unit-report.json 1

      - name: Checkout simulated devices
        uses: actions/checkout@v5
        with:
          repository: epics-containers/example-services
          path: example-services

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@v2.4.1
        with:
          compose-file: "./example-services/compose.yaml"
          services: |
            bl01t-di-cam-01
            bl01t-mo-sim-01
            ca-gateway

      - name: Run system tests
        run: uv run --locked tox -e system-report

      - name: Check system test durations
        run: |
          python .github/scripts/check_test_durations.py system-report.json 6

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          name: ${{ inputs.python-version }}/${{ inputs.runs-on }}
          files: ./unit_cov.xml,./system_cov.xml
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
